<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LogDir" value="logs"/>
        <Property name="DefaultLogPattern" value="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        <Property name="PrettyConsolePattern" value="[%d{HH:mm:ss.SSS}] %msg%n"/>
        <Property name="SimpleConsolePattern" value="%msg%n"/>
    </Properties>
    <Appenders>
        <Console name="DebugConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${DefaultLogPattern}"/>
        </Console>

        <Console name="SimpleConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="${SimpleConsolePattern}"/>
        </Console>

        <!--<File name="File_Appender" filename="${LogDir}/logfile.log">
            <PatternLayout pattern="${DefaultLogPattern}"/>
        </File>-->
    </Appenders>
    <Loggers>
        <logger name="de.kilitr" level="info" additivity="false">
            <AppenderRef ref="SimpleConsole"/>
        </logger>
        <Root level="warn">
            <AppenderRef ref="DebugConsole" level="warn"/>
        </Root>
    </Loggers>
</Configuration>